.Rproj.user
.Rhistory
.RData
.Ruserdata
data/games.csv
data/games.json
data/game_reviews/10_CounterStrike.csv
data/game_reviews/240_CounterStrikeSource.csv
data/game_reviews/550_Left4Dead2.csv
data/game_reviews/1100600_FootballManager2020.csv
data/game_reviews/4000_GarrysMod.csv
data/game_reviews/3910_SidMeiersCivilizationIIIComplete.csv
data/game_reviews/620_Portal2.csv
data/game_reviews/34460_SidMeiersCivilizationIVBeyondtheSword.csv
data/game_reviews/32470_STARWARSEmpireatWarGoldPack.csv
data/game_reviews/10500_TotalWarEMPIREDefinitiveEdition.csv
data/game_reviews/4700_TotalWarMEDIEVALIIDefinitiveEdition.csv
data/game_reviews/4760_RomeTotalWar.csv
data/game_reviews/34030_TotalWarNAPOLEONDefinitiveEdition.csv
data/game_reviews/39210_FINALFANTASYXIVOnline.csv
data/game_reviews/47890_TheSims3.csv
data/game_reviews/48700_MountBladeWarband.csv
data/game_reviews/49520_Borderlands2.csv
data/game_reviews/50100_SidMeiersCivilizationV.csv
data/game_reviews/72850_TheElderScrollsVSkyrim.csv
data/game_reviews/105450_AgeofEmpiresIII2007.csv
data/game_reviews/105600_Terraria.csv
data/game_reviews/107410_Arma3.csv
data/game_reviews/200210_RealmoftheMadGodExalt.csv
data/game_reviews/201270_TotalWarSHOGUN2.csv
data/game_reviews/208650_BatmanArkhamKnight.csv
data/game_reviews/211820_Starbound.csv
data/game_reviews/212680_FTLFasterThanLight.csv
data/game_reviews/214950_TotalWarROMEIIEmperorEdition.csv
data/game_reviews/218620_PAYDAY2.csv
data/game_reviews/219990_GrimDawn.csv
data/game_reviews/220200_KerbalSpaceProgram.csv
data/game_reviews/221100_DayZ.csv
data/game_reviews/221380_AgeofEmpiresII2013.csv
data/game_reviews/227300_EuroTruckSimulator2.csv
data/game_reviews/232090_KillingFloor2.csv
data/game_reviews/233860_Kenshi.csv
data/game_reviews/234140_MadMax.csv
data/game_reviews/236850_EuropaUniversalisIV.csv
data/game_reviews/239140_DyingLight.csv
data/game_reviews/242760_TheForest.csv
data/game_reviews/244210_AssettoCorsa.csv
data/game_reviews/244450_MenofWarAssaultSquad2.csv
data/game_reviews/244850_SpaceEngineers.csv
data/game_reviews/250900_TheBindingofIsaacRebirth.csv
data/game_reviews/251570_7DaystoDie.csv
data/game_reviews/252490_Rust.csv
data/game_reviews/255710_CitiesSkylines.csv
data/game_reviews/257420_SeriousSam4.csv
data/game_reviews/261550_MountBladeIIBannerlord.csv
data/game_reviews/262060_DarkestDungeon.csv
data/game_reviews/264710_Subnautica.csv
data/game_reviews/266840_AgeofMythologyExtendedEdition.csv
data/game_reviews/268500_XCOM2.csv
data/game_reviews/270880_AmericanTruckSimulator.csv
data/game_reviews/274920_FaceRig.csv
data/game_reviews/275850_NoMansSky.csv
data/game_reviews/281990_Stellaris.csv
data/game_reviews/284160_BeamNGdrive.csv
data/game_reviews/286160_TabletopSimulator.csv
data/game_reviews/287700_METALGEARSOLIDVTHEPHANTOMPAIN.csv
data/game_reviews/289070_SidMeiersCivilizationVI.csv
data/game_reviews/292030_TheWitcher3WildHunt.csv
data/game_reviews/294100_RimWorld.csv
data/game_reviews/304390_ForHonor.csv
data/game_reviews/306130_TheElderScrollsOnline.csv
data/game_reviews/310950_StreetFighterV.csv
data/game_reviews/311210_CallofDutyBlackOpsIII.csv
data/game_reviews/311690_EntertheGungeon.csv
data/game_reviews/314160_MicrosoftFlightSimulatorXSteamEdition.csv
data/game_reviews/322170_GeometryDash.csv
data/game_reviews/322330_DontStarveTogether.csv
data/game_reviews/325610_TotalWarATTILA.csv
data/game_reviews/334230_TownofSalem.csv
data/game_reviews/335300_DARKSOULSIIScholaroftheFirstSin.csv
data/game_reviews/346110_ARKSurvivalEvolved.csv
data/game_reviews/356190_MiddleearthShadowofWar.csv
data/game_reviews/359320_EliteDangerous.csv
data/game_reviews/359550_TomClancysRainbowSixSiege.csv
data/game_reviews/361420_ASTRONEER.csv
data/game_reviews/365360_BattleBrothers.csv
data/game_reviews/367500_DragonsDogmaDarkArisen.csv
data/game_reviews/367520_HollowKnight.csv
data/game_reviews/374320_DARKSOULSIII.csv
data/game_reviews/376210_TheIsle.csv
data/game_reviews/377160_Fallout4.csv
data/game_reviews/379430_KingdomComeDeliverance.csv
data/game_reviews/380600_FishingPlanet.csv
data/game_reviews/381210_DeadbyDaylight.csv
data/game_reviews/382310_Eco.csv
data/game_reviews/383120_EmpyrionGalacticSurvival.csv
data/game_reviews/383980_RivalsofAether.csv
data/game_reviews/387990_ScrapMechanic.csv
data/game_reviews/389730_TEKKEN7.csv
data/game_reviews/393380_Squad.csv
data/game_reviews/394360_HeartsofIronIV.csv
data/game_reviews/397540_Borderlands3.csv
data/game_reviews/412020_MetroExodus.csv
data/game_reviews/413150_StardewValley.csv
data/game_reviews/418460_RisingStorm2Vietnam.csv
data/game_reviews/418530_Spelunky2.csv
data/game_reviews/427520_Factorio.csv
data/game_reviews/431730_Aseprite.csv
data/game_reviews/431960_WallpaperEngine.csv
data/game_reviews/435150_DivinityOriginalSin2.csv
data/game_reviews/440900_ConanExiles.csv
data/game_reviews/457140_OxygenNotIncluded.csv
data/game_reviews/466560_Northgard.csv
data/game_reviews/477160_HumanFallFlat.csv
data/game_reviews/489830_TheElderScrollsVSkyrimSpecialEdition.csv
data/game_reviews/493340_PlanetCoaster.csv
data/game_reviews/508440_TotallyAccurateBattleSimulator.csv
data/game_reviews/513710_SCUM.csv
data/game_reviews/524220_NieRAutomata.csv
data/game_reviews/526870_Satisfactory.csv
data/game_reviews/548430_DeepRockGalactic.csv
data/game_reviews/552500_WarhammerVermintide2.csv
data/game_reviews/552520_FarCry5.csv
data/game_reviews/570940_DARKSOULSREMASTERED.csv
data/game_reviews/573090_StormworksBuildandRescue.csv
data/game_reviews/578080_PLAYERUNKNOWNSBATTLEGROUNDS.csv
data/game_reviews/581320_InsurgencySandstorm.csv
data/game_reviews/582010_MonsterHunterWorld.csv
data/game_reviews/582660_BlackDesertOnline.csv
data/game_reviews/594570_TotalWarWARHAMMERII.csv
data/game_reviews/594650_HuntShowdown.csv
data/game_reviews/613100_HouseFlipper.csv
data/game_reviews/620980_BeatSaber.csv
data/game_reviews/629760_MORDHAU.csv
data/game_reviews/632360_RiskofRain2.csv
data/game_reviews/637090_BATTLETECH.csv
data/game_reviews/640820_PathfinderKingmaker.csv
data/game_reviews/644930_TheyAreBillions.csv
data/game_reviews/645630_CarMechanicSimulator2018.csv
data/game_reviews/646570_SlaytheSpire.csv
data/game_reviews/648800_Raft.csv
data/game_reviews/666140_MyTimeAtPortia.csv
data/game_reviews/678950_DRAGONBALLFighterZ.csv
data/game_reviews/686810_HellLetLoose.csv
data/game_reviews/703080_PlanetZoo.csv
data/game_reviews/719040_Wasteland3.csv
data/game_reviews/719890_BeastsofBermuda.csv
data/game_reviews/739630_Phasmophobia.csv
data/game_reviews/779340_TotalWarTHREEKINGDOMS.csv
data/game_reviews/782330_DOOMEternal.csv
data/game_reviews/787860_FarmingSimulator19.csv
data/game_reviews/805550_AssettoCorsaCompetizione.csv
data/game_reviews/812140_AssassinsCreedOdyssey.csv
data/game_reviews/813780_AgeofEmpiresIIDefinitiveEdition.csv
data/game_reviews/814380_SekiroShadowsDieTwice.csv
data/game_reviews/815370_GreenHell.csv
data/game_reviews/824270_KovaaK20.csv
data/game_reviews/834910_ATLAS.csv
data/game_reviews/863550_HITMAN2.csv
data/game_reviews/872790_FootballManager2019.csv
data/game_reviews/900883_TheElderScrollsIVOblivion.csv
data/game_reviews/945360_AmongUs.csv
data/game_reviews/960090_BloonsTD6.csv
data/game_reviews/962130_Grounded.csv
data/game_reviews/976310_MortalKombat11.csv
data/game_reviews/976730_HaloTheMasterChiefCollection.csv
data/game_reviews/996470_eFootballPES2020.csv
data/game_reviews/997070_MarvelsAvengers.csv
data/game_reviews/1030830_MafiaIIDefinitiveEdition.csv
data/game_reviews/1030840_MafiaDefinitiveEdition.csv
data/game_reviews/1066780_TransportFever2.csv
data/game_reviews/1080110_F12020.csv
data/game_reviews/1085660_Destiny2.csv
data/game_reviews/1087280_OutoftheParkBaseball21.csv
data/game_reviews/1089350_NBA2K20.csv
data/game_reviews/1094520_SandsofSalzaar.csv
data/game_reviews/1097150_FallGuys.csv
data/game_reviews/1100620_FootballManager2020Touch.csv
data/game_reviews/1102190_MonsterTrain.csv
data/game_reviews/1113000_Persona4Golden.csv
data/game_reviews/1118200_PeoplePlayground.csv
data/game_reviews/1129580_MedievalDynasty.csv
data/game_reviews/1145360_Hades.csv
data/game_reviews/1151340_Fallout76.csv
data/game_reviews/1151640_HorizonZeroDawn.csv
data/game_reviews/1172620_SeaofThieves.csv
data/game_reviews/1174180_RedDeadRedemption2.csv
data/game_reviews/1190460_DEATHSTRANDING.csv
data/game_reviews/1213210_CommandConquerRemasteredCollection.csv
data/game_reviews/1217060_GunfireReborn.csv
data/game_reviews/1222670_TheSims4.csv
data/game_reviews/1222730_STARWARSSquadrons.csv
data/game_reviews/1225330_NBA2K21.csv
data/game_reviews/1238860_Battlefield4.csv
data/game_reviews/1250410_MicrosoftFlightSimulator.csv
data/game_reviews/1259970_eFootballPES2021SEASONUPDATE.csv
data/game_reviews/1283970_YoloMouse.csv
data/game_reviews/1307550_Craftopia.csv
data/.DS_Store
.DS_Store
.DS_Store
